text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #222
}

/* dot, red, green, blue, tie*/
.d {
    opacity: 60%;
}

.d:hover {
    opacity: 100%;
}

.r {
    fill: #d04
}

.g {
    fill: #0a2
}

.b {
    fill: #08e
}

.t {
    fill: #888
}

/* point of interest */
.poi {
    stroke: #000;
    fill-opacity: 40%;
    stroke-width: 0.2%
}

.line {
    stroke: #222;
    stroke-width: 0.5%;
    opacity: 50%;
    fill: none;
    stroke-linecap: round;
}

#triangle {
    fill: #222;
}

.bg {
    fill: #fff
}